yo deseo aprender en este curso mas sobrela fundamecion we de este curso y aprender y tener mas conocimiento
yo me llamo Marisa elizeth ortiz carranza 
tengo 14 años estudio en la telesecundaria ricardo flores magon
me gustan los animales,los perros ,las vacas,los gatos,conejos, pero en especial los perros y las vacas
me gusta hacer de porte como,jugar futbol,basquet bol,correr,nadar,y ejercitarme con ejercicios basicos como centadillas y brincar la cuerda Etc.
uno de mis pasatiempos favoritos son jugar con mis perros, cuidar de mis vacas,leer, escuchar musica de banda,y el mas importante dormir
me gusta covivir con mis amigos y estar con ellos
me gusta la materia de historia y ciencias
me gusta bailar y salir de paseo
me dan miedo los ratones y las arañas
